h1 {
    color: red !important;
    /* !important */
}


/* .firstel {
    font-size: x-large;
}

.others {
    font-size: medium;
} */

ul li:first-child {
    font-size: x-large;
}

ul li {
    font-size: large;
}

a:visited {
    color: deeppink;
}

a:hover {
    font-size: x-large;
}

a:active {
    color: aqua;
}

#hide {
    display: none;
    background-color: pink;
    padding: 20px;
}

div#magic:hover p#hide {
    display: block;
}

ul li:nth-child(1)::first-letter {
    color: blueviolet;
    font-size: xx-large;
}

p,
li {
    font-family: fantasy;
}

html {
    font-size: 10px;
}

#remex {
    font-size: 3rem;
}